/*CSS Document*/
.fondo_principal
{
	background-color: #F7981B;
	text-align: center;
}
.tabla
{
	text-align: center;
	padding: 0px 0px 0px 0;
}
.tabla TD
{
	background-color: #FFF;
}
.barra
{
	padding: 0px;
}
