/*CSS Document*/
.fondo_principal
{
	text-align: center;
	background-color:#EC8E1C;
	/*background-image: url(../img/fondo.jpg);
	background-repeat:url(../img/fondo.gif);*/
}
.tabla
{
	text-align: center;
	padding: 0px 0px 0px 0;
}
.tabla TD
{
	background-color: #FFF;
}
.barra
{
	padding: 0px;
	background: url("../img/barra.gif");
	width: 800px;
	height: 170px;
	longdesc:"../img/barra.gif";
	alt:"barra";
}
.contenedor{
	
}
